#navbar-container {
  position: sticky;
  top: 0;
  z-index: 2000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-image: var(--color-background-gradient);
  padding: 20px 50px;
}
#navbar-logo {
  font-size: 24px;
  font-weight: bold;
  color: var(--color-secondary);
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
}
#navbar-links {
  display: flex;
  gap: 20px;
}
.nav-link {
  text-decoration: none;
  color: var(--color-secondary);
  font-size: 20px;
  cursor: pointer;
}
.nav-link:hover {
  color: var(--color-primary);
}
#nav-icons-container {
  display: flex;
  gap: 10px;
  align-items: center;
}
#navbar-search-icon {
  width: 30px;
  cursor: pointer;
  background-color: var(--color-primary);
  border-radius: 50%;
  padding: 8px;
}
#navbar-requestDemo {
  background-color: var(--color-primary);
  color: white;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  display: flex;
  align-items: center;
  border-radius: 25px;
  gap: 5px;
}
#navbar-requestDemo-icon {
  width: 27px;
  background-color: white;
  border-radius: 50%;
}
#navbar-profile-icon {
  width: 30px;
  background-color: var(--color-primary);
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}
#navbar-country-icon {
  width: 45px;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}
#popup-nav-container {
  padding: 5px;
  border-radius: 10px;
  background-image: var(--color-background-gradient);
}
.nav-inner-container {
  padding: 10px;
  cursor: pointer;
}
.nav-title {
  font-size: 16px;
  font-weight: 600;
}
.nav-sub-title {
  font-size: 14px;
  font-weight: 500;
  color: var(--color-text-gray);
}

.nav-inner-container:hover .nav-title {
  color: var(--color-primary);
}
.nav-inner-container:hover .nav-sub-title {
  color: var(--color-secondary);
}
#popup-nav-services-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.services-heading {
  font-size: 12px;
  font-weight: 600;
  padding: 20px 10px;
  color: var(--color-text-gray);
}
