#navbar-container {
  position: sticky;
  top: 0;
  z-index: 200;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-image: var(--color-background-gradient);
  padding: 20px 50px;
  min-width: max-content;
}
#nav-back {
  position: fixed;
  top: 120px;
}
#navbar-logo {
  font-size: 24px;
  font-weight: bold;
  color: var(--color-secondary);
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
}
#navbar-links {
  display: flex;
  justify-content: space-evenly;
  width: 54%;

  /* gap: 20px; */
}
.nav-link {
  text-decoration: none;
  color: var(--color-secondary);
  font-size: 20px;
  cursor: pointer;
}
.nav-link:hover {
  color: var(--color-primary);
  font-weight: 600;
}
#nav-icons-container {
  display: flex;
  gap: 10px;
  align-items: center;
}
#navbar-search-icon {
  width: 45px;
  cursor: pointer;
  background-color: var(--color-primary);
  border-radius: 50%;
  padding: 10px;
}
#navbar-requestDemo {
  background-color: var(--color-primary);
  color: white;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  align-items: center;
  border-radius: 25px;
  gap: 8px;
  min-width: 160px;
}
#navbar-requestDemo-icon {
  width: 27px;
  background-color: white;
  border-radius: 50%;
}
#navbar-profile-icon {
  width: 45px;
  background-color: var(--color-primary);
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}
#navbar-country-icon {
  width: 60px;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}
#popup-nav-container {
  padding: 5px;
  border-radius: 10px;
  background-image: var(--color-background-gradient);
  max-height: 470px;
}
.nav-inner-container {
  padding: 10px;
  cursor: pointer;
}
.nav-title {
  font-size: 16px;
  font-weight: 600;
}
.nav-sub-title {
  font-size: 14px;
  font-weight: 500;
  color: var(--color-text-gray);
}

.nav-inner-container:hover .nav-title {
  color: var(--color-primary);
}
.nav-inner-container:hover .nav-sub-title {
  color: var(--color-secondary);
}
#popup-nav-services-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.services-heading {
  font-size: 12px;
  font-weight: 600;
  padding: 20px 10px;
  color: var(--color-text-gray);
}
#nav-menu-icon {
  display: none;
}
#popup-nav-peoduct-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 340px;
}
.nav-link-active {
  color: var(--color-primary);
  font-weight: 600;
}
#scroll-to-top {
  position: fixed;
  right: 50px;
  bottom: 100px;
}
@media (max-width: 1300px) {
  #navbar-links,
  #nav-icons-container {
    display: none;
  }
  #nav-menu-icon {
    display: inline;
    background-color: var(--color-primary);
    padding: 5px;
    border-radius: 25px;
    transform: scale(1.1);
    margin-left: 50px;
  }
  #nav-menu-drawer {
    z-index: 300;
  }
  #nav-menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-menu-header-request {
    margin: 10px 30px;
  }
  #nav-drawer-close {
    margin-right: 30px;
    transform: scale(1.4);
  }
  .nav-menu-drawer-link {
    margin: 20px 50px;
    font-size: 22px;
  }
  #nav-menu-icons {
    display: flex;
    align-items: center;
    margin-left: 50px;
    column-gap: 10px;
  }
  .nav-menu-link {
    font-size: 20px;
    font-weight: 600;
    margin: 18px 15px;
  }
}
@media (max-width: 500px) {
  #nav-back {
    top: 25px;
    left: 3px;
  }
  #navbar-container {
    padding: 20px 35px;
  }
}
