#footer-container {
  display: flex;
  flex-wrap: wrap;
  padding: 80px 100px;
  background-image: var(--color-background-gradient);
}
.footer-heading {
  font-size: 18px;
  margin-bottom: 15px;
}
.footer-text {
  font-size: 14px;
  line-height: 20px;
  padding: 0 40px 10px 0;
  color: var(--color-text-gray);
  cursor: pointer;
}
.footer-text:hover {
  color: var(--color-primary);
}
.footer-column {
  display: flex;
  flex-direction: column;
  min-width: 180px;
}
#footer-column-1 {
  max-width: 500px;
}
#foooter-column-5 {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 50px 0;
  margin-left: 20px;
  /* justify-content: center; */
  align-items: center;
  text-align: center;
}
#footer-newsletter-heading {
  font-size: 36px;
  color: var(--color-text-dark-gray);
}
#footer-newsletter-text {
  font-size: 16px;
  line-height: 20px;
  color: var(--color-text-gray);
  max-width: 450px;
}
#footer-newsletter-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
#footer-newsletter-input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 10px 0 0 10px;
  background-color: var(--color-background-light-gray);
  color: black;
  font-size: 14px;
  width: 250px;
}
#footer-newsletter-button {
  padding: 10px 20px;
  border: none;
  border-radius: 0 10px 10px 0;
  background-color: var(--color-primary);
  color: white;
  font-size: 14px;
  cursor: pointer;
}
#footer-social-links {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 10px 0;
}
.footer-social-icon {
  width: 25px;
  cursor: pointer;
}
#footer-bottom {
  grid-column-start: 1;
  grid-column-end: 8;
  text-align: center;
  color: var(--color-text-gray);
}
.footer-about-text:hover {
  color: var(--color-text-gray);
  cursor: default;
}
.footer-about-actions {
  cursor: pointer;
}
.footer-products-text-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
}
.footer-products-column {
  width: 100%;
}
.footer-links-texts {
  display: flex;
  flex-wrap: wrap;
  column-gap: 25px;
}
#footer-products-text-container-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
}
@media (min-width: 1940px) {
  .results-cards-container {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
}
@media (min-width: 1500px) {
  #footer-container {
    display: grid;
    grid-template-columns: 300px 2fr 1fr;
  }
}
@media (max-width: 1370px) {
  #footer-column-1 {
    max-width: 500px;
  }
  #foooter-column-5 {
    max-width: 600px;
    margin: 50px 0;
  }
  #footer-container {
    display: flex;
    justify-content: space-between;
  }
}
@media (max-width: 1100px) {
  #footer-column-1 {
    max-width: 280px;
  }
  #foooter-column-5 {
    max-width: 300px;
    margin: 50px 0;
  }
  #footer-container {
    display: flex;
    justify-content: space-between;
  }
}
@media (max-width: 790px) {
  #footer-column-1 {
    max-width: 280px;
  }
  #foooter-column-5 {
    max-width: 270px;
    margin: 50px 0;
  }
}
@media (max-width: 715px) {
  #footer-column-1 {
    max-width: 250px;
  }
  #foooter-column-5 {
    max-width: 230px;
    margin: 50px 0;
  }
  .footer-links-texts {
    display: flex;
    flex-wrap: wrap;
    column-gap: 65px;
  }
}
@media (max-width: 500px) {
  #footer-container {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    padding: 30px 20px;
    justify-content: center;
  }
  #footer-column-1 {
    max-width: 300px;
  }
  #foooter-column-5 {
    margin: 30px 0;
    min-width: 300px;
  }
  #footer-newsletter-input {
    width: 160px;
  }
}
