#about-us-page-data {
  max-width: 900px;
  margin-top: 50px;
  text-align: left;
}
#about-us-page-container {
  display: flex;
  margin: 80px 10%;
  align-items: center;
  flex-wrap: wrap;
}
#about-us-page-image {
  max-width: 700px;
}
@media (max-width: 450px) {
  #about-us-page-container {
    margin: 80px 0;
  }
  #about-us-page-image {
    max-width: 380px;
  }
}
