#selected-tool-heading {
  font-size: 32px;
  font-weight: 700;
  color: var(--color-secondary);
  text-align: center;
  margin-bottom: 20px;
}
#selected-tool-subheading {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  max-width: 900px;
  margin-bottom: 20px;
}
#selected-tool-text {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  max-width: 1000px;
  color: var(--color-text-gray);
  margin-bottom: 50px;
}
#selected-tool-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 120px 0;
}

#selected-tool-data-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  width: 85%;
  justify-content: center;
  margin: 20px 0%;
}

.selected-tool-data {
  max-width: 500px;
  padding: 10px 10px;
}
.selected-tool-title {
  font-size: 24px;
  font-weight: 700;
  margin: 10px 0;
}
.selected-tool-description {
  font-size: 24px;
  font-weight: 400;
  color: var(--color-text-gray);
  max-width: 500px;
  margin-bottom: 20px;
}
@media (max-width: 1000px) {
  .selected-tool-data {
    max-width: 450px;
    padding: 10px 60px;
  }
  .selected-tool-description {
    font-size: 24px;
    font-weight: 400;
    color: var(--color-text-gray);
    max-width: 300px;
  }
}
@media (max-width: 500px) {
  .selected-tool-data {
    padding: 10px 0;
    margin: 0 80px;
    overflow-x: hidden;
  }
  .selected-tool-description {
    max-width: 100%;
  }
  #selected-tool-container {
    overflow-x: hidden;
  }
}
