#details-hero-container {
  display: flex;
  background-color: rgba(156, 157, 163, 0.19);
}
#details-hero-contents {
  padding: 130px;
}
#details-hero-heading {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 50px;
}
#details-hero-text {
  font-size: 20px;
  font-weight: 400;
  color: var(--color-text-gray);
}
.details-hero-button {
  padding: 15px 15px;
  border-radius: 5px;
  border: 0;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}
.hero-button-primary {
  background-color: var(--color-primary);
  color: white;
}
.hero-button-secondary {
  background-color: #cbcbcb;
}
#details-hero-buttons {
  display: flex;
  gap: 20px;
  margin: 50px 0;
}
#details-hero-image {
  width: 700px;
}
