.testimonial-heading-text {
  max-width: 600px !important;
}
.testimonial-text {
  font-size: 16px;
  font-weight: 400;
  margin: 20px 0;
  color: var(--color-text-gray);
  line-height: 27px;
  max-height: 160px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none; /* IE and Edge */
  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
  }
}
.testimonial-author-details {
  display: flex;
  align-items: center;
  gap: 10px;
}
.author-name {
  font-size: 18px;
  font-weight: 600;
}
.author-title {
  font-size: 16px;
  font-weight: 400;
  color: var(--color-text-gray);
}
#testimonial-carousel-container {
  display: flex;
  align-items: center;
  margin: 0 10% 0 0;
}
.testimonial-card {
  min-width: 350px !important;
  max-width: 350px !important;
}
.testimonial-buttons {
  display: flex;
  justify-content: center;
  width: 250px;
  gap: 10px;
}
.testimonial-button {
  cursor: pointer;
}
#blur-image {
  width: 350px;
  left: 0;
  z-index: -1;
}
#testimonial-container {
  margin: 100px 0;
}
