#results-container {
  margin: 100px 0;
}
.results-cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.results-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 50px;
  margin: 75px 15%;
}
.results-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.results-card-title {
  font-size: 30px;
  font-weight: 400;
  color: var(--color-text-dark-gray);
  margin: 10px 0;
}
.results-card-text {
  font-size: 18px;
  font-weight: 400;
  color: var(--color-text-gray);
  max-width: 300px;
}
.results-cards-text {
  max-width: 600px !important;
  margin-bottom: 50px !important;
}
.results-cards-text2 {
  max-width: 800px !important;
}

@media (max-width: 425px) {
  #results-container {
    margin: 100px 3%;
  }
}
