#trusted-clients-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
  margin: 150px 0;
}
#trusted-clients-header {
  font-size: 22px;
  font-weight: 600;
  width: 200px;
}
#trusted-clients-header {
  display: flex;
}
.client-logo {
  width: 160px;
  filter: grayscale();
}
.client-logo:hover {
  filter: none;
}
