#trusted-clients-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 50px;
  padding: 0 80px;
  box-sizing: border-box;
}
#trusted-clients-header {
  font-size: 20px;
  font-weight: 600;
  color: var(--color-primary);
  text-align: center;
  text-transform: uppercase;
}
.trusted-clients-heading {
  width: 300px;
  text-align: left !important;
  color: black !important;
}
.client-logo {
  width: 160px;
}
#client-logo-PV {
  font-size: 26px;
  font-weight: 600;
  max-width: 200px;
}
#trusted-clients-images-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px;
}
.clients-swiper {
  flex: 1;
  min-width: 0;
  margin-top: 20px;
}

.clients-swiper .keen-slider__slide {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
}

.clients-slider-image {
  width: 100%;
  height: 120px;
  object-fit: contain;
}
.inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 150px;
}

.wrapper {
  position: absolute;
  display: flex;
}

section {
  display: flex;
  animation: swipe var(--speed) linear infinite backwards;
}

.swiper-wrapper {
  transition-timing-function: linear !important;
}

@keyframes swipe {
  0% {
    transform: translate(0);
  }

  100% {
    transform: translate(-100%);
  }
}

@media (max-width: 1300px) {
  #trusted-clients-container {
    padding: 0 60px;
  }
}

@media (max-width: 1100px) {
  #trusted-clients-container {
    padding: 0 40px;
  }
}

@media (max-width: 880px) {
  #trusted-clients-container {
    padding: 0 30px;
    gap: 30px;
  }
}

@media (max-width: 660px) {
  #trusted-clients-container {
    padding: 0 20px;
    gap: 20px;
  }
}

@media (max-width: 640px) {
  #trusted-clients-container {
    flex-wrap: wrap;
    padding: 0 16px;
    gap: 16px;
  }
}
