#home-hero-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-image: var(--color-background-gradient);
}
#home-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem;
}
#home-text-heading {
  font-size: 64px;
  font-weight: 600;
  margin-bottom: 1rem;
  color: var(--color-primary);
}
#home-text-subText {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 2rem;
  max-width: 700px;
  line-height: 25px;
}
#home-store-links-container {
  display: flex;
  gap: 1rem;
}
.home-store-links {
  width: 120px;
  height: 40px;
  cursor: pointer;
}
#home-social-links-container {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
  cursor: pointer;
}
